*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    
}
.app h1{
    font-size: 25pt;
    font-weight: 600;
    font-family: cursive;
}
.quiz{
    padding: 20px 0;

}
.quiz h2{
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;  
}
.btn{
    background: #fff;
    color:#222 ;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition:all 0.3s ;
}
.btn:hover{
    background: #222;
    color: #fff;

}
#next{
    background: #001e4d;
    font-size: 30pt;
    padding: 10px;
    text-align: center;
    width:150px;
    transition: all .2s;
    border-radius: 10px;
    display: none;

}
#next:hover{
    background: #4b83de;

}